
@{
    ViewBag.Title = "Confirm";
}
<br />
<br />
<br />
<br />
<br />

<h2 style="color:white">Email has been sent</h2>

<style>
    body {
        padding: 50px;
      
        background-image: url('http://content.wallpapers-room.com/resolutions/1400x1050/P/Wallpapers-room_com___Plain_Grass_by_sniperyu_1400x1050.jpg');
      
    }
</style>
