
@{
    ViewBag.Title = "Use";
}

<h2>Motion Inc</h2>

<style>
    body {
        padding: 50px;
        background-image: url('http://content.wallpapers-room.com/resolutions/1400x1050/P/Wallpapers-room_com___Plain_Grass_by_sniperyu_1400x1050.jpg');
    }
</style>

