@{
    Layout = null;
}
<br />
<br />
<h1 style="text-align:center;font-family:'Adobe Arabic' ;font-size:100px; color:white">COURT THREE</h1>
<h4 style="text-align:center;font-family:'Adobe Arabic' ; color:white">CUSTOMER</h4>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/calendar.css">


</head>

@* HTML *@


<div ng-app="myApp" ng-controller="myNgController">

    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Booking Selection</h3>
        </div>
        <div class="modal-body">
            <div class="error">{{Message}}</div>
            <div class="form-group">
                <label>Sport Code :</label>

                <select ng-model="NewEvent.Title">
                    <option value="">
                    <option value="Soccer">Soccer (R350 for group of 5 people per hour)
                    <option value="Cricket">Cricket (R960 for a group of 16 people per hour)

</select>

                <input type="text" ng-readonly="true" ng-model="NewEvent.Title" autofocus class="form-control" required />

            </div>
            
            <div class="form-group">
                <label>Time Slot :</label>
                <span>
                    {{NewEvent.StartAt}} - {{NewEvent.EndAt}}
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" onclick="window.open('Confirm')" ng-click="ok()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div class="row">
        <div class="col-md-12"  style="background: #396c2d">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
            <a href="javascript:window.print()" style="color:white">
                <img src="~/Content/Images/print.png" />
                Print Schedule

            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="btn btn-default" id="Button1" type="button" style="color:white;background-color:darkgreen" value="Go Back" onclick="window.open('IndexCustomer')" />

        </div>

       


    </div>
</div>

@* CSS *@
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
@* JS *@
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-1.11.3.js"></script>
@*<script src="~/Scripts/angular.js"></script>*@
@* Will use latest angularjs *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
<script src="~/Scripts/calendar.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script src="~/Scripts/gcal.js"></script>
@* OUR ANGULAR COMPONENTs *@
<script src="~/Scripts/MyApp3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
<style>
    .error {
        color: red;
    }
</style>


<style>
    .fc-event {
        position: relative; /* for resize handle and other inner positioning */
        display: block; /* make the <a> tag block */
        font-size: .85em;
        line-height: 1.3;
        border-radius: 3px;
        border: 1px solid white; /* default BORDER color */
        background-color: red; /* default BACKGROUND color */
        font-weight: normal; /* undo jqui's ui-widget-header bold */
        text-decoration-color: white;
    }
    body {
        padding: 50px;
        background-image: url('http://content.wallpapers-room.com/resolutions/1400x1050/P/Wallpapers-room_com___Plain_Grass_by_sniperyu_1400x1050.jpg');
    }
</style>


