@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<br />
<br />
<br />
<br />
<div class="panel panel-primary" style="border-color:blue">
    <div class="panel-heading" style="background-color:black;border-color:blue"><h1 style="text-align:center;font-family:'Adobe Arabic';color:white;font-size:100px">MANAGE ROLES</h1></div>
    <div class="panel-body" style="background-color:black;border-color:blue">

        <br />



        <p class="p">
            <h3 style="font-size:x-large">@Html.ActionLink("Create Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")</h3>
            <hr />

            @foreach (var role in Model)
            {
            <p>
                <strong style="color:white">@role.Name  </strong>
                <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">|Delete</a></span> 
               
            </p>
            }
            <div />
        </div>
    </div>
    <style>
        body {
            padding: 50px;
            background-image: url('http://safest.link/wp-content/uploads/2015/06/Hd-Wall-Backgrounds-Hd-Cool-HD-Wallpapers.jpg');
        }
    </style>
